# Importing important Libraries

In [1]:
# Libraries to handle dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression

# library to ignore warnings if occur
import warnings
warnings.filterwarnings('ignore')

# Reading Datasets

In [2]:
# Train Dataset
train = pd.read_csv(r'C:\Users\Lenovo\Documents\ML Class Practise\santander-customer-satisfaction/train.csv', index_col=['ID'])         # Making ID as an index column

# Test Dataset
test = pd.read_csv(r"C:\Users\Lenovo\Documents\ML Class Practise\santander-customer-satisfaction/test.csv", index_col=0)

# Sample Dataset
samp_sub = pd.read_csv(r'C:\Users\Lenovo\Documents\ML Class Practise\santander-customer-satisfaction/sample_submission.csv')

In [3]:
train.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [4]:
train['TARGET'].unique()      # Checking the number of unique values present in the response column

array([0, 1], dtype=int64)

In [5]:
train.shape                   # Checking rows and columns

(76020, 370)

In [6]:
train.isna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76020 entries, 1 to 151838
Columns: 370 entries, var3 to TARGET
dtypes: bool(370)
memory usage: 27.4 MB

In [7]:
train.dtypes                   # Datatypes of each column

var3                         int64
var15                        int64
imp_ent_var16_ult1         float64
imp_op_var39_comer_ult1    float64
imp_op_var39_comer_ult3    float64
                            ...
saldo_medio_var44_hace3    float64
saldo_medio_var44_ult1     float64
saldo_medio_var44_ult3     float64
var38                      float64
TARGET                       int64
Length: 370, dtype: object

In [8]:
train.select_dtypes(exclude='object')     # Excluding the columns having object datatype

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151829,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0
151830,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
151835,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
151836,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
151838,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [9]:
train.shape

(76020, 370)

In [10]:
train.isna().any()            # Checking NULL values

var3                       False
var15                      False
imp_ent_var16_ult1         False
imp_op_var39_comer_ult1    False
imp_op_var39_comer_ult3    False
                           ...
saldo_medio_var44_hace3    False
saldo_medio_var44_ult1     False
saldo_medio_var44_ult3     False
var38                      False
TARGET                     False
Length: 370, dtype: bool

# Splitting features and response columns

In [11]:
X = train.iloc[:,0:-1]     # Feature Columns
Y = train.iloc[:,-1]       # Target Column

In [12]:
X.shape, Y.shape

((76020, 369), (76020,))

# Normalization DataSet

In [13]:
scaler = StandardScaler()
Xscaled = scaler.fit_transform(X)           # Standard Scaler for Feature Columns

testscaled = scaler.transform(test)         # Standard Scaler for test dataset columns

In [14]:
Y.value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

# MODEL :: Logistic Regression

In [16]:
logreg = LogisticRegression()
logreg.fit(Xscaled, Y)

LogisticRegression()

In [17]:
y_pred = logreg.predict(testscaled)

In [18]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [19]:
samp_sub.head()

   ID  TARGET
0   2       0
1   5       0
2   6       0
3   7       0
4   9       0

In [20]:
submit = pd.DataFrame({ "ID": samp_sub.ID, "TARGET": y_pred})

In [21]:
submit.shape

(75818, 2)

In [22]:
submit.to_csv("LogisticReg.csv",  index=False)

In [23]:
submit.head()

   ID  TARGET
0   2       0
1   5       0
2   6       0
3   7       0
4   9       0